

.SideMenuDiv {

    width: clamp(20px, 40%, 50dvw);
    height: clamp(100px, 100dvh, 100dvh);

    background-color: var(--background-label);
    position: absolute;
    color: var(--color-font);

    box-shadow: 3px 4px 5px var(--shadow-color);

    z-index: 1;
}

.SideMenuList {


    font-size: clamp( 1rem, 1.5rem, 3rem);
    & > li {
        margin-top: clamp(1px, 2px, 5px);
        cursor: pointer;
        padding: clamp(5px, 10px, 15px);
        background-color: var(--background-option);
    }


    & > li:hover {
        background-color: var(--background-option-hover);
    }
}




.hiddenSideMenu {
    animation: hiddingSideMenuAnimation 0.5s forwards !important;

    & > ul {
        animation: hiddingSideMenuAnimation 0.5s forwards !important;
    }
}


.showingSideMenu {
    animation: showingSideMenuAnimation 0.5s forwards !important;

    & > ul {
        animation: showingSideMenuAnimation 0.5s forwards !important;
    }
    
}




@keyframes hiddingSideMenuAnimation {
    from {
        left: 0%
    }

    to {
        left: -100%
    }
}


@keyframes showingSideMenuAnimation {
    from {
        left: -100%
    }

    to {
        left: 0%
    }
}