



.loginMainDiv {

    display: flex;
    flex-direction: column;

    width: clamp(100px, 70%, 100%);

    margin: auto;
    margin-top: clamp(10px, 20px, 30px);
    background-color: var(--background-label);
    
    padding: clamp(10px, 20px, 100px);
    color: var(--color-font);

    border-radius: 10px;
    font-size: clamp(1rem, 1.8rem, 4rem);

    box-shadow: 3px 4px 5px var(--shadow-color);
}

.loginDiv {
    display: flex;
    flex-direction: column;
    margin-top: clamp(10px, 20px, 30px);


    & > label {
        margin-top: clamp(10px, 20px, 30px);
        font-size: clamp(1rem, 1.6rem, 3rem);
    }

    & > input {
        font-size: clamp(1rem, 1.6rem, 3rem);
        border-radius: 10px;
        padding-left: clamp(4px, 6px, 8px);
    }
}


.loginFunctionButtonDiv {
    display: flex;
    flex-direction: row;

    margin: auto;
    margin-top: clamp(10px, 15px, 20px);
    & > button {
        padding: clamp(4px, 8px, 10px);
    }

    
}

.forgetPasswordAlert {
    font-size: clamp(0.4rem, 0.8rem, 1rem);

    margin-top: clamp(4px, 6px, 9px);
}


@media screen and (min-width : 2001px) {
    .loginMainDiv {
        position: relative;

        width: clamp(100px, 90%, 100%);
        padding: clamp(4px, 10px, 20px);

        

        top: 25%;
        
        

    }
    .loginDiv {

        & > label {
            font-size: clamp(2rem, 3rem, 5rem);
        }

        & > input {
            font-size: clamp(2rem, 3rem, 5rem);
        }

        
    }

    .loginFunctionButtonDiv {
        & > button > label {
            font-size: clamp(2rem, 3rem, 5rem);
        }
    }

    .forgetPasswordAlert {
        font-size: clamp(2rem, 3rem, 5rem);
    }
}


@media screen and (max-width : 400px) {
    .loginMainDiv {
        position: relative;

        width: clamp(100px, 90%, 100%);
        padding: clamp(4px, 10px, 20px);


        top: 25%;
        
        

    }
    .loginDiv {

    }
}






@media screen and (max-height : 300px)  {
    .loginMainDiv {
        padding: clamp(5px, 10px, 100px);
    }
    .loginTitle {
        font-size: clamp(0.5rem, 1rem, 2rem);
        margin: 0px auto;
    }
    .loginDiv {
        margin-top: clamp(2px, 5px, 20px);

        & > label {
            font-size: clamp(0.5rem, 0.8rem, 2rem);
        }

        & > input {
            width: clamp(10px, 90%, 90%);
            height: clamp(10px, 1.2rem, 200px);
        }
    }

    .loginFunctionButtonDiv {
        
    }
}
