.manageCategoryDiv {
    background-color: var(--background-label-hover);
    border-radius: 20px;

    padding: clamp(10px, 15px, 30px);
    width: clamp(150px, 90dvw, 100dvw);
    height: clamp(150px, 60dvh, 70dvh);
    margin: auto;
    margin-top: clamp(30px, 50px, 100px);

    box-shadow: 2px 3px 5px var(--shadow-color);
    overflow-y: scroll;
}

.unityCategoryList {
    display: flex;
    flex-direction: column;
    gap: clamp(5px, 10px, 20px);
    margin-top: clamp(5px, 50px, 100px);

    & > button {
        width: 80%;
        padding: clamp(2px, 5px, 20px);
        margin: auto;
    }
}

.editCategoryDiv, .createCategoryDiv {
    display: flex;
    flex-direction: column;


    overflow-y: scroll;

    width: 100%;
    margin: auto;
    height: max-content;
    font-size: clmap(0.5rem, 0.9rem, 2rem);
    color: var(--color-font);
    padding: clamp(2px, 6px, 8px);
    padding-top: clamp(5px, 20px, 40px);


    gap: clamp(5px, 10px, 30px);
    & > div {
        display: flex;
        flex-direction: column;
        width: clamp(50px, 60%, 100%);
        margin: auto;
        gap: clamp(5px, 10px, 30px);
    }

    & > div > label {
        
    }

    & > div > input, & > div > select {
        border-radius: clamp(5px, 5px, 20px);
        padding-left: clamp(2px, 5px, 10px);
    }
}


.createCategoryDiv2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto;
    margin-top: clamp(10px, 20px, 60px);
    color: var(--color-font);

    & > div {
        width: max-content;
    }

    & > div > label {
        margin-right: clamp(2px, 4px, 10px);
    }

    & > div > input, & > div > select {
        border-radius: clamp(5px, 5px, 20px);
        padding-left: clamp(2px, 5px, 10px);
    }
}

.bottomButtons {
    margin-top: clamp(10px, 50px, 100px) !important;
}

.buttonDiv {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: clamp(10px, 50px, 100px) !important;
    & > button {
        margin: auto;
        padding: clamp(5px, 10px, 30px);
    }
}


.inativeStatus {
    background-color: gray !important;
}


@media screen and (min-width : 2001px ) {
    .manageCategoryMainDiv label {
        font-size: clamp(2rem, 4rem, 6rem);
    }
}




@media screen and (max-width : 750px ) {
    .manageCategoryDiv {
        overflow-y: hidden;
        height: max-content;
        padding-bottom: clamp(2dvh, 4dvh, 6dvh);
        margin-top: clamp(2dvh, 4dvh, 6dvh);;
        margin-bottom: clamp(2dvh, 20dvh, 20dvh);

    }

    .unityCategoryList {

    }
}