
.manageMenuMainDiv {

}

.manageMenuDiv {
    background-color: var(--background-label-hover);
    border-radius: 20px;

    padding: clamp(10px, 15px, 30px);
    width: clamp(150px, 90dvw, 100dvw);
    height: clamp(150px, 60dvh, 70dvh);
    margin: auto;
    margin-top: clamp(30px, 50px, 100px);

    overflow-y: scroll;
}

.informationLabel {
    font-size: clamp(0.5rem, 0.9rem, 2rem);

}

.unityListDiv {
    display: flex;
    flex-direction: column;
    gap: clamp(5px, 10px, 20px);
    margin-top: clamp(5px, 50px, 100px);

    & > button {
        width: 80%;
        padding: clamp(2px, 5px, 20px);
        margin: auto;
    }
}

.editUnityDiv {
}

.labelCompAddress {
    font-size: clamp(0.5rem, 1rem, 2rem);

    width: 100%;
    height: max-content;

    padding: clamp(2px, 4px, 10px);
}

.unityCategoryList {
    display: flex;

    flex-direction: column;
    margin-top: clamp(10px, 20px, 30px);
    gap: clamp(5px, 10px, 20px);
    

    & > button {
        padding: clamp(5px, 10px, 20px);
    }
}


.categoryProductList {
    display: flex;

    flex-direction: column;
    margin-top: clamp(10px, 20px, 30px);
    gap: clamp(5px, 10px, 20px);
    

    & > button {
        padding: clamp(5px, 10px, 20px);
    }
}
