.ListProductOfCategory {
    width: clamp( 150px, 100dvw, 100dvw);
    height: clamp( 50px, 60dvh, 90dvh);

    
}

.ListProductComp {
    margin-top: clamp(5px, 25px, 900px);
}

.searchDiv {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--background-label);
    width: max-content;
    margin: auto;
    margin-top: clamp(5px, 40px, 100px);
    margin-bottom: clamp(5px, 20px, 40px);

    & > div {
        
    }

    & > input {
        background-color: var(--bg-color1);
    }
}

.icon_img {
    width: clamp(10px, 30px, 60px);
    height: clamp(10px, 30px, 60px);
    filter: invert(1);
    cursor: pointer;
    transition: 0.5;
    &:hover {
        filter: invert(0.5);
    }
}

.inputSearchFood {
    border-radius: 10px;
    padding-left: 5px;
}


.buttonDiv {
    display: flex;

    justify-content: center;
    align-items: center;


    & > button {
        padding: clamp(4px, 8px, 10px);
    }
}


@media screen and (min-width : 2001px)  {
    .ListProductComp {
        margin-top: clamp(5px, 15px, 100px);
        
    }
    .searchDiv {
        width: clamp(2dvw, 30dvw, 80dvw);;
        height: clamp(2dvh, 60dvh, 10dvh);
        margin: auto;
        margin-top: clamp(5px, 20px, 100px);
        margin-bottom: clamp(5px, 15px, 100px);

        & > input {
            font-size: clamp(2rem, 3rem, 5rem);
        }
    }

    .icon_img {
        width: clamp(2dvw, 6dvw, 50dvw);
        height: clamp(2dvh, 6dvh, 10dvh);
    }

    .buttonDiv > button > label {
        font-size: clamp(2rem, 3rem, 5rem);
    }
}


@media screen and (min-width : 800px) and (max-width : 2000px)  {
    .ListProductComp {
        margin-top: clamp(5px, 15px, 100px);
    }
    .searchDiv {
        height: clamp(10px, 15px, 20px);
        margin: auto;
        margin-top: clamp(5px, 20px, 100px);
        margin-bottom: clamp(5px, 15px, 100px);
    }

    .icon_img {
        width: clamp(10px, 20px, 50px);
        height: clamp(10px, 20px, 50px);
    }
}

@media screen and (max-width : 799px)  {
    .searchDiv {
        height: clamp(10px, 15px, 20px);
        margin: auto;
        margin-top: clamp(5px, 20px, 100px);
        margin-bottom: clamp(5px, 20px, 40px);
    }

    .icon_img {
        width: clamp(10px, 20px, 50px);
        height: clamp(10px, 20px, 50px);
    }

    .ListProductComp {
        overflow-y: hidden !important;
        height: max-content;
    }

    .listProductDiv {
        padding-bottom: clamp(2dvh, 4dvh, 10dvh);
        margin-bottom: clamp(2dvh, 20dvh, 20dvh);
    }
}


@media screen and (max-width : 300px)  {
    .searchDiv {
        height: clamp(10px, 15px, 20px);
        margin: auto;
        margin-top: clamp(5px, 20px, 100px);
        margin-bottom: clamp(5px, 20px, 40px);
    }

    .icon_img {
        width: clamp(10px, 20px, 50px);
        height: clamp(10px, 20px, 50px);
    }

    .ListProductComp {
        overflow-y: hidden !important;
        width: clamp(150px, 90dvw, 90dvw);
        height: max-content;
    }
}