


.accountDiv {
    display: flex;
    flex-direction: column;

    align-items: center;
    width: clamp(200px, 600px, 100dvw);
    height: clamp(200px, 400px, 100dvh);

    margin: auto;   
    margin-top: clamp(10px, 20px, 30px);

    border-radius: 10px;
    padding: clamp(5px, 10px, 20px) 0px ;
    background-color: var(--background-label);
    color: var(--color-font);
    

    & > label {
        /*margin-left: clamp(5px, 10px, 20px);*/
        color: var(--color-font);
        font-size: clamp(1rem, 1.5rem, 2rem);
    }

    & > hr {
        width: 100%;
    }


}



.buttonGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: clamp(100px, 300px, 100dvw);
    height: clamp(20px, 80px, 100dvh);

    margin-top: clamp(10px, 20px, 30px);

    gap: clamp(5px, 20px, 60px);

}


.accountButton {
    padding: clamp(5px, 10px, 15px);

}


.MyAccountFooter {
    color: var(--color-font);
}



@media screen and (min-width : 2001px ) {
    .myAccountMainDiv {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
        width: clamp( 40dvw, 100dvw, 100dvw);
        height: clamp( 40dvh, 60dvh, 80dvh);
        font-size: clamp(2rem, 4rem, 6rem);

    }

    .accountDiv {
        width: clamp( 40dvw, 60dvw, 80dvw);
        height: clamp( 40dvh, 60dvh, 80dvh);
        
    }

    .accountDiv label{
        font-size: clamp(2rem, 4rem, 6rem);
    }

    .buttonGrid {
        width: clamp( 20dvw, 40dvw, 60dvw);
    }

    .MyAccountFooter {
        font-size: clamp(2rem, 3rem, 6rem);
    }
}