



.productListDiv {
    /*height: clamp(100px, 52dvh, 60dvh);*/
    margin-bottom: clamp(10px, 20px, 100px);
}


.titleLabel {
    font-size: clamp(0.5rem, 1rem, 2rem);

    padding: clamp(1px, 2px, 10px);

    height: clamp(15px, 20px, 50px);
    margin-top: clamp(10px, 15px, 100px);
    margin-bottom: clamp(10px, 15px, 100px);
}


.bottomButton {
    width: 100%;
}

.bottomLabel {
    font-size: clamp(0.5rem, 1rem, 2rem);

    padding: clamp(1px, 2px, 10px);

    height: clamp(15px, 20px, 50px);
    margin-top: clamp(10px, 15px, 100px);
    margin-bottom: clamp(10px, 15px, 100px);
}

.finishShopButton {
    display: block;
    margin: auto;

    margin-top: clamp(10px, 10px, 50px);
    margin-bottom: clamp(10px, 10px, 50px);
    padding: clamp(1px, 5px, 10px);
}



@media screen and (max-height : 600px)  {
    .productListDiv {
        margin: 0px auto;
        width: clamp(150px, 50dvw, 100dvw);
        height: clamp(150px, 55dvh, 2000px);
        overflow-y: scroll;
        & > li {
            display: flex;
            justify-content: center;
            align-items: center;
            height: clamp(40px, 40%, 100%);
        }
        & > li > div > img {
            width: clamp(20px, 70%, 200px);
            height: clamp(20px, 90%, 200px);
            
        }
        & > li > label {
            width: clamp(20px, 30%, 100%);
            
        }
    }
}




@media screen and (min-width : 1901px)  {
    .productListDiv {
        margin: 0px auto;
        height: clamp(300px, 55dvh, 2000px);
        /*height: max-content; */
        overflow-y: hidden;
    }

    .titleLabel, .bottomLabel {
        height: clamp(4dvh, 6dvh, 15dvh);
        font-size: clamp(2rem, 3rem, 5rem);
    }

    .finishShopButton > label {
        font-size: clamp(2rem, 3rem, 5rem);
        padding: clamp(50px, 150px, 500px);
    }
}
@media screen and (max-width : 1900px)  {
    .productListDiv {
        margin: 0px auto;
        height: clamp(300px, 55dvh, 2000px);
        /*height: max-content; */
        overflow-y: hidden;
    }
}



@media screen and (max-width : 1400px)  {
    .productListDiv {
        margin: 0px auto;
        /*height: clamp(300px, 55dvh, 2000px);*/
        height: max-content;
        overflow-y: hidden;
    }
}



@media screen and (max-width : 300px)  {
    .productListDiv {
        margin: 0px auto;
        width: clamp(150px, 100dvw, 100dvw);
        height: clamp(150px, 50dvh, 2000px);

        & > li {
            height: max-content;
        }
    }
}
