


.ListProductDivMain {
    overflow-y: scroll;
    width: clamp(300px, 100dvw, 2000px);
    height: clamp(300px, 60dvh, 2000px);
    padding-bottom: clamp(10px, 100px, 200px);
    background-color: yellow;
}


.ListProductUl {
    display: flex;
    
    flex-direction: column;
    
    background-color: var(--background-label);
    color: var(--color-font);

    width: clamp(300px, 100dvw, 2000px);
    height: clamp(300px, 60dvh, 2000px);

    padding: clamp(5px, 10px, 60px) 0px;

    border: 3px solid black;
    border-left: 0px;
    border-right: 0px;

    border-radius: 20px;
    margin: auto;
    overflow-y: scroll;

    box-shadow: 3px 4px 5px var(--shadow-color);

    & > li {
        display: flex;
        justify-content: left;
        flex-direction: row;
        align-items: center;
        
        width: 100%;
        height: 140px;
        background-color: var( --background-window );

        border-radius: clamp(5px, 10px, 20px);
        
        padding: 0px;
        margin-top: clamp(5px, 10px, 20px);
    }

    & > li:hover {
        background-color: var(--background-label-hover);
    }

    & > li > label {
        font-size: 2rem;
        font-weight: bolder;
        margin: 0px;
        padding: 0px;
    }

    & > li > label.labelDiv {
        width: clamp(100px, 40dvw, 60dvw);
        font-size: clamp(0.5rem, 1rem, 1.5rem);
        word-wrap: break-word;
        
    }

    & > li > label > label.ingredienteLabel {
        font-weight: normal;
        font-size: clamp(0.5rem, 0.9rem, 1.5rem);
        word-wrap: break-word;
    }

    & > li > div > img.foodImage {
        display: inline-block;
        position: relative;
        background-color: var(--background-image);
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        border-radius: clamp(5px, 10px, 30px);

        box-shadow: 2px 3px 4px var(--shadow-color);
    }
}

.foodImageDiv {
    display: flex;
    align-items: center;
    width: clamp(40px, 100px, 250px);
    height: clamp(40px, 100px, 250px);
    margin: 20px;
    & > label {
        display: inline-block;
        position: relative;
        font-size: clamp(0.3rem, 0.5rem, 0.8rem);

        top: -50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
    
}


.goBackButton {
    width: clamp(50px, 100px, 300px);
    height: clamp(50px, 100px, 300px);
}

.divInputQuantity {
    display: flex;
    position: relative;
    width: clamp( 50px, 100px, 100px);
    gap: 5px;

    left: clamp(-15px, -5px, 15px);
    
    & > button {
        width: clamp( 20px, 30px, 100px);
        height: clamp( 20px, 30px, 100px);
        
        border-radius: 10px;


        text-align: center;
        font-size: clamp( 1rem, 1.5rem, 2rem);

        cursor: pointer;
    }
}

.inputQuantity {
    display: block;
    position: relative;
    width: clamp( 10px, 40px, 100px);
 
    border-radius: 10px;

    padding: clamp(2px, 5px, 10px);

}





@media screen and (max-height : 300px)  {

    .ListProductUl {
        width: clamp(300px, 100dvw, 600px) !important;
        height: max-content !important;
        overflow-y: hidden !important;
        & > li {
            width: 100%;
            height: clamp(30px, 100%, 200px);
        }

        & > li > div > img.foodImage {
            width: clamp(10%, 100%, 100%);
            height: clamp(10%, 100%, 100%);
            margin: clamp(2px, 5px, 10px);
            
        }
    }

    .foodImageDiv {
        width: clamp(20px, 20%, 200px);
        height: clamp(20px, 60%, 200px);
    }
}



@media screen and (min-width : 2001px)  {

    .ListProductUl {
        width: clamp(300px, 60dvw, 2000px);
        height: clamp(300px, 60dvh, 2000px);
        margin: auto;
        & > li {
            width: 100%;
            height: clamp(30px, 200px, 200px);
        }

        & > li > label.labelDiv {
            font-size: clamp(2rem, 3rem, 5rem);
        }
        & > li > label.labelDiv > label {
            font-size: clamp(2rem, 3rem, 5rem);
        }

        & > li > div > img.foodImage {
            width: clamp(10%, 100%, 100%);
            height: clamp(10%, 100%, 100%);
            margin: clamp(2px, 5px, 10px);
            
        }
    }

    .foodImageDiv {
        width: clamp(40px, 90%, 200px);
        height: clamp(40px, 90%, 200px);
    }

    .divInputQuantity {
        
        & > input {
            font-size: clamp(2rem, 3rem, 5rem);
            width: clamp(1dvw, 5dvw, 20dvw);
        }

        & > button {
            font-size: clamp(2rem, 3rem, 5rem);
            width: max-content;
            height: max-content;
            padding: clamp(10px, 15px, 100px);
        }
    }
}

@media screen and (max-width : 2000px)  {

    .ListProductUl {
        width: clamp(300px, 60dvw, 2000px);
        height: clamp(300px, 60dvh, 2000px);
        margin: auto;
        & > li {
            width: 100%;
            height: clamp(30px, 200px, 200px);
        }

        & > li > div > img.foodImage {
            width: clamp(10%, 100%, 100%);
            height: clamp(10%, 100%, 100%);
            margin: clamp(2px, 5px, 10px);
            
        }
    }

    .foodImageDiv {
        width: clamp(40px, 90%, 200px);
        height: clamp(40px, 90%, 200px);
    }
}

@media screen and (max-width : 1900px)  {

    .ListProductUl {
        width: clamp(300px, 70dvw, 2000px);
        height: clamp(300px, 60dvh, 2000px);

        margin: auto;

        & > li {
            width: 100%;
            height: clamp(30px, 200px, 200px);
        }

        & > li > div > img.foodImage {
            width: clamp(10%, 100%, 100%);
            height: clamp(10%, 100%, 100%);
            margin: clamp(2px, 5px, 10px);
            
        }
    }

    .foodImageDiv {
        width: clamp(40px, 90%, 200px);
        height: clamp(40px, 90%, 200px);
    }
}



@media screen and (max-width : 1400px)  {

    .ListProductUl {
        width: clamp(300px, 80dvw, 2000px);
        height: clamp(300px, 60dvh, 2000px);

        & > li {
            width: 100%;
            height: clamp(30px, 200px, 200px);
        }

        & > li > div > img.foodImage {
            width: clamp(10%, 100%, 100%);
            height: clamp(10%, 100%, 100%);
            margin: clamp(2px, 5px, 10px);
            
        }
    }

    .foodImageDiv {
        width: clamp(40px, 90%, 200px);
        height: clamp(40px, 90%, 200px);
    }
}

@media screen and (max-width : 500px)  {

    .ListProductUl {
        width: clamp(300px, 100dvw, 2000px);
        height: clamp(300px, 60dvh, 2000px);

        & > li {
            width: 100%;
            height: clamp(30px, 200px, 200px);
        }

        & > li > div > img.foodImage {
            width: clamp(10%, 100%, 100%);
            height: clamp(10%, 100%, 100%);
            margin: clamp(2px, 5px, 10px);
            
        }
    }


    .foodImageDiv {
        width: clamp(40px, 90%, 200px);
        height: clamp(40px, 90%, 200px);
    }
}


@media screen and (max-width : 300px)  {

    .ListProductUl {
        width: clamp(300px, 100dvw, 2000px);
        height: clamp(300px, 60dvh, 2000px);

        & > li {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: clamp(30px, 200px, 100%);
            padding: clamp(4px, 10px, 30px) 0px;
        }

        & > li > div > img.foodImage {
            width: clamp(10%, 100%, 100%);
            height: clamp(10%, 100%, 100%);
            margin: clamp(2px, 5px, 10px);
            
        }
    }

    .foodImageDiv {
        width: clamp(40px, 90%, 200px);
        height: clamp(40px, 90%, 200px);
    }
}

