.LayoutDivMain {
    background-color: var(--background-window);
    display: flex;
    
    flex-direction: column;
    
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}



.hiddenSideMenu {
    animation: hiddingSideMenuAnimation 0.5s forwards !important;

    & > ul {
        animation: hiddingSideMenuAnimation 0.5s forwards !important;
    }
}


.showingSideMenu {
    animation: showingSideMenuAnimation 0.5s forwards !important;

    & > ul {
        animation: showingSideMenuAnimation 0.5s forwards !important;
    }
    
}



@keyframes hiddingSideMenuAnimation {
    from {
        left: 0%
    }

    to {
        left: -100%
    }
}


@keyframes showingSideMenuAnimation {
    from {
        left: -100%
    }

    to {
        left: 0%
    }
}