.paymentListMainDiv {

    
    width: clamp( 10%, 100%, 100%);

    height: clamp( 10dvh, 50dvh, 60dvh);
    
}

.paymentListDiv {
    display: flex;
    justify-content: center;
    background-color: var(--background-label);
    margin-top: clamp(10px, 20px, 100px);
}

.paymentList {

    text-align: center;
    color: var(--color-font);
    height: clamp( 10dvh, 50dvh, 60dvh);

    list-style: none;
    
    margin-top: clamp(10px, 20px, 40px);

    & > li {
        background-color: var(--background-option);
        margin-top: clamp(5px, 10px, 20px);
        font-size: clamp(1rem, 2rem, 4rem);
        padding: clamp( 5px, 10px, 20px);
        border-radius: 10px;
    }

    & > li:hover {
        background-color: var(--background-option-hover);
    }
}