.paymentListMainDiv {    
    width: clamp( 10%, 100%, 100%);
    height: clamp( 10dvh, 50dvh, 60dvh);

}

.paymentListDiv {
    display: flex;
    justify-content: center;
    background-color: var(--background-label);
    margin-top: clamp(10px, 20px, 100px);
}

.paymentList {

    text-align: center;
    color: var(--color-font);
    height: clamp( 10dvh, 50dvh, 60dvh);

    list-style: none;
    
    margin-top: clamp(10px, 20px, 40px);

    & > li {
        background-color: var(--background-option);
        margin-top: clamp(5px, 10px, 20px);
        font-size: clamp(1rem, 2rem, 4rem);
        padding: clamp( 5px, 10px, 20px);
        border-radius: 10px;
        box-shadow: 3px 4px 5px var(--shadow-color);
    }

    & > li:hover {
        background-color: var(--background-option-hover);
    }
}

.moneyinputLabel {
    margin-top: 10px;
    border-radius: 10px;
}

.moneyInputDiv {
    display: flex;
    flex-direction: column;
    position: absolute;

    background-color: var(--background-label);
    box-shadow: 3px 4px 5px var(--shadow-color);
    border-radius: 20px;

    width: clamp(200px, 400px, 600px);
    height: clamp(200px, 400px, 500px);
    padding: clamp(2px, 5px, 10px);

    transform: translate(-50%, -50%);
    top: clamp(25%, 50%, 70%);
    left: clamp(25%, 50%, 70%);
    z-index: 1000;


    color: var(--color-font);

    & > div {
        margin-top: clamp(10px, 20px, 40px);
        padding: clamp(10px, 20px, 30px);
        
    }

    & > div > hr {
        margin: clamp(5px, 10px, 15px) 0px;
    }

    & > div > label, & div > input {
        font-size: clamp( 1rem, 1.2rem, 2rem);
    }

    & > div > input {
        border-radius: 5px;
        padding-left: clamp(2px, 4px, 6px);
    }

    & > label {
        font-size: clamp(1rem, 1.2rem, 3rem);
    }
}

.confirmButtonMoneyValue {

    width: clamp(50%, 70%, 90%);

    margin: 0px auto;
    margin-top: clamp(10px, 20px, 20px);
}

.bottomDivButton {

    width: 100%;
    margin-top: clamp(5px, 10px, 15px);
    & > button {
        display: block;
        margin: auto;
        padding: clamp(5px, 10px, 15px);
    }
}


@media screen and (min-width: 2001px) {
    
    .paymentListMainDiv {
        margin: auto;    
        width: clamp(40dvw, 80dvw, 90dvw);
    }
    .moneyInputDiv {
        box-shadow: 1px 2px 5px var(--shadow-color);
        width: clamp(20dvw, 60dvw, 80dvw);
        height: clamp(20dvh, 60dvh, 80dvh);
        top: 40dvh; 
        
        & > label {
            font-size: clamp(2rem, 4rem, 5rem)
        }

        & > div > label {
            font-size: clamp(2rem, 4rem, 5rem)
        }

        & > div > input {
            font-size: clamp(2rem, 4rem, 5rem)
        }
    }

    .moneyinputLabel {
        font-size: clamp(2rem, 5rem, 5rem) !important;
        height: clamp(2dvh, 5dvh, 10dvh);
        padding: clamp(0dvw, 0dvw, 5dvw);
    }
    
    .paymentListDiv {
        top: 40dvh; 
        padding: clamp(2dvh, 5dvh, 10dvh) clamp(10dvh, 18dvh, 40dvh);
        
        margin: clamp(2dvh, 5dvh, 10dvh);
    }

    .paymentList {
        margin: auto;
        height: max-content;
        & > li {
            font-size: clamp(2rem, 4rem, 5rem);
        }
    }


    .bottomDivButton {

        & > button > label {
            font-size: clamp(2rem, 4rem, 5rem);
        }
    }

    .confirmButtonMoneyValue {
        & > label {
            font-size: clamp(2rem, 4rem, 5rem);
        }
    }
}


@media screen and (max-width: 1400px) {
    

    .paymentList {
        & > li {
            font-size: clamp(0.9rem, 2rem, 4rem);
        }
    }
}



@media screen and (max-width: 500px) {
    

    .moneyInputDiv {
        box-shadow: 1px 2px 5px var(--shadow-color);
        width: clamp(180px, 300px, 600px);
        top: 40dvh; 
        padding: clamp(2px, 15px, 20px) clamp(10px, 18px, 40px);
    }

    .paymentListDiv {
        top: 40dvh;
    }
}