
.manageMenuMainDiv {

}

.manageMenuDiv {
    background-color: var(--background-label-hover);
    border-radius: 20px;
    box-shadow: 1px 2px 5px var(--shadow-color);
    padding: clamp(10px, 15px, 30px);
    width: clamp(150px, 90dvw, 100dvw);
    height: clamp(150px, 60dvh, 70dvh);
    margin: auto;
    margin-top: clamp(30px, 50px, 100px);

    overflow-y: scroll;
}

.informationLabel {
    
    font-size: clamp(0.4rem, 0.9rem, 2rem);

}

.unityListDiv {
    display: flex;
    flex-direction: column;
    gap: clamp(5px, 10px, 20px);
    margin-top: clamp(5px, 50px, 100px);

    & > button {
        width: 80%;
        padding: clamp(2px, 5px, 20px);
        margin: auto;
    }
}


.labelId {
    display: flex !important;
    flex-direction: row !important;
    width: clamp(10px, 90px, 400px) !important;

    & > input {
        width: 100% !important;
        text-align: center;
        padding: 0px !important;
    }
}


.editUnityDiv, .createUnityDiv {
    display: flex;
    flex-direction: column;


    overflow-y: scroll;

    width: 100%;
    margin: auto;
    height: 100%;
    font-size: clamp(0.5rem, 0.9rem, 2rem);
    text-align: center;
    color: var(--color-font);
    padding-top: clamp(5px, 20px, 40px);

    gap: clamp(5px, 10px, 30px);
    & > div {
        display: flex;
        flex-direction: column;
        width: clamp(50px, 60%, 100%);
        margin: auto;
        gap: clamp(5px, 10px, 30px);
    }

    & > div > label {
        
    }

    & > div > input, & > div > select {
        border-radius: clamp(5px, 10px, 20px);
        padding-left: clamp(4px, 5px, 10px);
    }    
}


.labelCompAddress {
    font-size: clamp(0.5rem, 1rem, 2rem);

    width: 100%;
    height: max-content;

    padding: clamp(2px, 4px, 10px);
}

.unityCategoryList {
    display: flex;
    flex-direction: column;

    margin-top: clamp(10px, 20px, 30px);
    gap: clamp(5px, 10px, 20px);
    

    & > button {
        padding: clamp(5px, 10px, 20px);
    }
}


.categoryProductList {
    display: flex;

    flex-direction: column;
    margin-top: clamp(10px, 20px, 30px);
    gap: clamp(5px, 10px, 20px);
    

    & > button {
        padding: clamp(5px, 10px, 20px);
    }
}



.buttonDiv {
    display: flex;
    flex-direction: column;
    margin-top: clamp(10px, 20px, 100px);
    & > button {
        margin: auto;
        padding: clamp(4px, 6px, 10px);

    }
}


.inativeStatus {
    background-color: gray !important;
}