.ChooseItemDivMain {
    display: flex;
    flex-direction: column;
    background-color: var(--background-label);
    font-size: 1rem;

    padding: clamp(10px, 20px, 50px);
    border-radius: clamp(10px, 20px, 30px);

    box-shadow: 2px 3px 4px var(--shadow-color);


}

.foodImageDiv {
    display: block;
    width: clamp(100px, 200px, 500px);
    height: clamp(100px, 200px, 500px);

    background-color: var(--background-image);
    border-radius: clamp(5px, 20px, 20px);
    margin: auto;
    margin-bottom: clamp(4px, 20px, 40px);
    box-shadow: 2px 3px 4px var(--shadow-color);

    & > img {
        width: 100%;
        height: 100%;
        border-radius: clamp(5px, 20px, 20px);
    }

    & > label {

        display: inline-block;
        position: relative;
        width: clamp(20px, 150px, 300px);
        height: max-content;
    
        top: -60%;
        left: 25%;
    }
}

label {
    font-size: 1rem;
}

.productName, .description, .saleValue, .productQuantity {
    background-color: var(--background-label-hover);
    color: var(--color-font);
    margin: clamp(5px, 6px, 100px);
    padding: clamp(2px, 6px, 100px);

    border-radius: 10px;
}

.productQuantity {
    
    & > input {
        background-color: var(--bg-color1);
        color: var(--color-font2);
    }
}

.saleValue {

}

.productName {

}

.description {

}


.ChooseButtonAction {
    width: clamp(100px, 200px, 800px);
    margin: auto;
    margin-top: clamp(5px, 20px, 100px);

}

.buttonDiv {
    display: flex;
    flex-direction: column;
}



@media screen and (min-width : 1901px)  {
    .ChooseItemDivMain {
        width: clamp(300px, 60dvw, 100dvw);
        height: max-content;
        overflow-y: scroll;
        margin: auto;
        & label, & input {
            font-size: clamp(2rem, 3rem, 5rem);
        }

    }

    .foodImageDiv {
        width: clamp(150px, 250px, 600px);
        height: clamp(150px, 250px, 600px);
    }

    .buttonDiv {
        
        & > button > label {
            font-size: clamp(2rem, 3rem, 5rem);
        }
    }
}
@media screen and (max-width : 1900px)  {
    .ChooseItemDivMain {
        width: clamp(300px, 60dvw, 100dvw);
        margin: auto;
    }
}


@media screen and (max-width : 900px)  {
    .ChooseItemDivMain {
        width: clamp(150px, 80dvw, 100dvw);

        margin: auto;
    }
    .foodImageDiv {
        width: clamp(100px, 150px, 600px);
        height: clamp(100px, 150px, 600px);
    }

    .buttonDiv {
        
        & > button > label {
            font-size: clamp(1rem, 1rem, 2rem);
        }
    }
}


@media screen and (max-width : 300px)  {
    .ChooseItemDivMain {
        width: clamp(150px, 80dvw, 100dvw);
        margin: auto;
    }
}
