



.orderList {
    width: clamp( 100px, 300px, 100dvw);
    height: clamp( 100px, 300px, 100dvh);
    background-color: var(--background-label);


    border-radius: 10px;
    padding: clamp(10px, 15px, 20px);
    margin: auto;
}

.orderList {

    width: clamp( 50px, 400px, 100%);
    height: clamp(100px, max-content, 100%);
    list-style: none;
    color: var(--color-font);

    margin-top: clamp(10px, 20px, 30px);

    overflow-y: scroll;

    & > li {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        background-color: var(--background-option);
        border-radius: 10px;
        padding: clamp(4px, 6px, 8px);

        margin: clamp(10px, 20px, 30px) auto;

        box-shadow: 3px 4px 5px var(--shadow-color);
        text-shadow: 1px 2px 1px var(--shadow-color);
    }

    & > li:hover {
        background-color: var(--background-option-hover);
    }

    & > li > label {
        cursor: pointer;
    }

}


@media screen and (min-width : 2001px ) {

    .orderListDiv {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin: auto;


        width: clamp(40dvw, 70dvw, 90dvw);
        height: clamp(40dvh, 70dvh, 70dvh);

        & > label {
            font-size: clamp(2rem, 4rem, 5rem);
            margin: 0px;
        }
    }

    .orderList {    
        width: clamp(40dvw, 70dvw, 90dvw);
        height: clamp(40dvh, 70dvh, 70dvh);

        padding: clamp(10px, 30px, 100px);

        & > li > label {
            font-size: clamp(2rem, 4rem, 5rem);
        }
    }
}

@media screen and (max-width : 750px ) {
    .orderListDiv {

        padding-bottom: clamp(2dvh, 4dvh, 10dvh);
        margin-bottom: clamp(2dvh, 20dvh, 20dvh);
    }

    .orderList {

        overflow-y: hidden;
        height: max-content;

        margin: clamp(2dvh, 4dvh, 10dvh) 0px;
        padding: 0px 0px;
    }
}