.BottomMenuDivMain {
    display: flex;
    background-color: var(--background-bottom-menu);
    width: clamp(350px, 100dvw, 105vw);
    height: clamp(100px, 15dvh, 20dvh);

    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-radius: 50px 50px 0px 0px;

    margin: 0px;
    padding: 0px;

    position: fixed;    
    bottom: 0;

    box-shadow: -3px -4px 5px var(--shadow-color);

    transition: 0.5s;
    z-index: 999;
    
}

.bottomMenuButton, .bottomMenuButtonCartButton {
    border-radius: 50px;
    padding: 0px;
    padding: 10px;
    margin: 0px 10px 0px 10px;
    
    margin-top: auto;
    margin-bottom: auto;

    width: clamp(80px, 80px, 200px);
    height: clamp(80px, 80px, 200px);

    justify-content: center;
    justify-items: center;
    
    & > img {
        margin: auto;
        width: 50px;
        height: 50px;
    }

}


.cartButtonDiv {
    display: flex;
}

.countProductCart {
    position: relative;
    background-color: var(--background-button);
    color: var(--color-font);

    border-radius: 20px;
    height: max-content;
    top: clamp(-60%, -60%, 10%);
    left: clamp(-60%, 20%, 30%);
    padding: clamp(2px, 5px, 10px);
}

#shoppingCarButton > img {
    width: 50px;
    height: 50px;
}




@media screen and (max-width : 2000px)  {
    .BottomMenuDivMain {
        width: clamp(300px, 30dvw, 100vw);
        height: clamp(50px, 10dvh, 30dvh);
        border-radius: clamp(10px, 20px, 30px);
        bottom: clamp(0px, 0px, 20px);
        box-shadow: 3px 4px 5px var(--shadow-color);
        margin: auto;
        position: fixed;
        top: 80dvh;
        left: 35%;

        padding: clamp(4px, 10px, 10px);
        justify-content: space-evenly;

    }
    .cartButtonDiv {
        display: flex;
    }

    
    .bottomMenuButtonCartButton, .bottomMenuButton {
        display: flex;
        
        text-align: center;

        width: clamp(50px, 150px, 300px);
        height: clamp(50px, 100%,   300px);
    }

    .bottomMenuButton {
        height: 100%;
        & > img {
            width: clamp(20%, 50%, 100%);
            height: clamp(20%, 60%, 100%);
        }
    }

    .cartButtonDiv {
        height: 100%;
    }
    #shoppingCarButton {
        height: 100%;
    }
    
    .countProductCart {
        top: clamp(-60%, -17%, 20%);
        left: clamp(-60%, 20%, 30%);
        padding: clamp(2px, 5px, 10px);
    }


}

@media screen and (max-width : 1900px)  {
    .BottomMenuDivMain {
        width: clamp(300px, 50dvw, 100vw);
        height: clamp(50px, 10dvh, 30dvh);
        border-radius: clamp(10px, 20px, 30px);
        bottom: clamp(0px, 0px, 20px);
        top: 85%;
        left: 25%;
        box-shadow: 1px 1px 8px var(--shadow-color);

    }

    .bottomMenuButton {
        border-radius: clamp(10px, 20px, 30px);
        display: block;
        & > img {
            margin: auto;
            width: clamp(20px, 25px, 50px);
            height:  clamp(20px, 25px, 50px);
        }
    }

    #shoppingCarButton {
        height: 100%;
    }

    #shoppingCarButton > img {
        width: clamp(20px, 25px, 50px);
        height:  clamp(20px, 25px, 50px);
    }
    
    .countProductCart {
        top: clamp(-60%, -6%, 20%);
        left: clamp(-60%, 20%, 30%);
        padding: clamp(2px, 5px, 10px);
    }
    .cartButtonDiv {
        height: 100%;
    }
}




@media screen and (max-width : 1400px)  {
    .BottomMenuDivMain {
        width: clamp(300px, 50dvw, 100vw);
        height: clamp(50px, 10dvh, 30dvh);
        border-radius: clamp(10px, 20px, 30px);
        bottom: clamp(0px, 0px, 20px);
        top: 85dvh;
        left: 25%;


    }

    .cartButtonDiv {
        display: contents ;
    }

    .bottomMenuButton {
        border-radius: clamp(10px, 20px, 30px);
        display: block;
        & > img {
            margin: auto;
            width: clamp(20px, 25px, 50px);
            height:  clamp(20px, 25px, 50px);
        }
    }

    #shoppingCarButton {
        height: clamp(10px, 80%, 100%);
    }

    #shoppingCarButton > img {
        width: clamp(20px, 25px, 50px);
        height:  clamp(20px, 25px, 50px);
    }
    
    .countProductCart {
        top: clamp(-60%, -40%, 20%);
        left: clamp(-60%, 17%, 30%);
        padding: clamp(2px, 5px, 10px);
    }

}



@media screen and (max-width : 1000px)  {
    .BottomMenuDivMain {
        width: clamp(300px, 50dvw, 100vw);
        height: clamp(50px, 10dvh, 30dvh);
        border-radius: clamp(10px, 20px, 30px);
        bottom: clamp(0px, 0px, 20px);
        position: fixed;

        top: 85dvh;
        left: 25dvw;

    }

    .bottomMenuButton {
        display: flex;
        border-radius: clamp(10px, 20px, 30px);
        height: clamp(10px, 90%, 100px);
        
        & > img {
            margin: auto;
            width: clamp(20px, 25px, 50px);
            height:  clamp(20px, 25px, 50px);
        }
    }

    #shoppingCarButton {
        border-radius: clamp(10px, 20px, 30px);
        
    }

    #shoppingCarButton > img {
        width: clamp(20px, 25px, 50px);
        height:  clamp(20px, 25px, 50px);
    }
    
    .countProductCart {
        top: clamp(-60%, -42%, 20%);
        left: clamp(-60%, 6%, 30%);
        padding: clamp(2px, 5px, 10px);
    }

}


@media screen and (max-width : 750px)  {
    .BottomMenuDivMain {
        width: clamp(300px, 50dvw, 100vw);
        height: clamp(50px, 10dvh, 30dvh);
        border-radius: clamp(10px, 20px, 30px);
        bottom: clamp(0px, 0px, 20px);
        position: fixed;

        top: 70dvh;
        left: 25dvw;

    }

    .bottomMenuButton {
        display: flex;
        border-radius: clamp(10px, 20px, 30px);
        height: clamp(10px, 90%, 100px);
        
        & > img {
            margin: auto;
            width: clamp(20px, 25px, 50px);
            height:  clamp(20px, 25px, 50px);
        }
    }

    #shoppingCarButton {
        border-radius: clamp(10px, 20px, 30px);
        height: clamp(10px, 80%, 100%);
    }

    #shoppingCarButton > img {
        width: clamp(20px, 25px, 50px);
        height:  clamp(20px, 25px, 50px);
    }
    
    .countProductCart {
        top: clamp(-60%, -42%, 20%);
        left: clamp(-60%, 8%, 30%);
        padding: clamp(2px, 5px, 10px);
    }

}


@media screen and (max-width : 650px)  {
    .BottomMenuDivMain {
        display: flex;
        flex-direction: row;
        width: clamp(300px, 50dvw, 100vw);
        height: clamp(50px, 8dvh, 30dvh);

        border-radius: clamp(10px, 20px, 30px);
        margin: auto;

        bottom: clamp(0px, 0px, 20px);
        top: 85dvh;
        left: clamp(30%, 50%, 60%);
        transform: translate(-50%, 0%);

    }

    .bottomMenuButton, #shoppingCarButton {
        display: flex;
        border-radius: clamp(10px, 20px, 30px);

        /* width: clamp(10px, 50%, 100%); */
        height: clamp(10px, 90%, 100%);
        & > img {
            margin: auto;
            width: clamp(10px, 20px, 50px);
            height:  clamp(10px, 20px, 50px);
        }
    }

    .bottomMenuButton:nth-child(1) {
        display: flex;
    
    }


    #shoppingCarButton > img {
        width: clamp(20px, 25px, 50px);
        height:  clamp(20px, 25px, 50px);
    }
    
    .countProductCart {
        top: clamp(-90%, -42%, 30%);
        left: clamp(-60%, 8%, 30%);
        padding: clamp(2px, 2px, 8px);
    }

}


@media screen and (max-width : 400px)  {
    .BottomMenuDivMain {
        display: flex;
        flex-direction: row;
        width: clamp(300px, 50dvw, 100vw);
        height: clamp(50px, 15dvh, 30dvh);

        border-radius: clamp(10px, 20px, 30px);
        margin: auto;

        bottom: clamp(0px, 0px, 20px);
        top: 80dvh;
        left: clamp(30%, 50%, 60%);
        transform: translate(-50%, 0%);

    }

    .bottomMenuButton, #shoppingCarButton {
        display: flex;
        border-radius: clamp(10px, 20px, 30px);

        /* width: clamp(10px, 50%, 100%); */
        height: clamp(10px, 50%, 100%);
        & > img {
            margin: auto;
            width: clamp(10px, 20px, 50px);
            height:  clamp(10px, 20px, 50px);
        }
    }

    .bottomMenuButton:nth-child(1) {
        display: flex;
    
    }


    #shoppingCarButton > img {
        width: clamp(20px, 25px, 50px);
        height:  clamp(20px, 25px, 50px);
    }
    
    .countProductCart {
        top: clamp(-90%, -20%, 30%);
        left: clamp(-60%, 8%, 30%);
        padding: clamp(2px, 2px, 8px);
    }

}




@media screen and (max-width : 300px)  {
    .BottomMenuDivMain {
        display: flex;
        flex-direction: row;
        width: clamp(150px, 80dvw, 100vw);
        height: clamp(50px, 15dvh, 30dvh);

        border-radius: clamp(10px, 20px, 30px);
        margin: auto;

        bottom: clamp(0px, 0px, 20px);
        top: 80dvh;
        left: 50%;
        transform: translate(-50%, 0%);

    }

    .bottomMenuButton, #shoppingCarButton {
        display: flex;
        border-radius: clamp(10px, 20px, 30px);

        /* width: clamp(10px, 50%, 100%); */
        height: clamp(10px, 50%, 100%);
        & > img {
            margin: auto;
            width: clamp(10px, 20px, 50px);
            height:  clamp(10px, 20px, 50px);
        }
    }

    .bottomMenuButton:nth-child(1) {
        display: flex;
    
    }


    #shoppingCarButton > img {
        width: clamp(20px, 25px, 50px);
        height:  clamp(20px, 25px, 50px);
    }
    
    .countProductCart {
        top: clamp(-90%, -20%, 30%);
        left: clamp(-60%, 8%, 30%);
        padding: clamp(2px, 2px, 8px);
    }

}


@media screen and (max-height : 600px ) {
    .BottomMenuDivMain {
        height: clamp(10px, 40px, 100px);
        top: 75dvh;
        padding: clamp(1px, 4px, 10px);
    }

    #shoppingCarButton {
        height: 100%;
    }

    .bottomMenuButton {
        height: 100%;
    }
    .countProductCart {
        top: clamp(-90%, -50%, 30%);
        left: clamp(-60%, 6%, 30%);
        padding: clamp(2px, 2px, 8px);
    }
}