:root {
  --bg-color1 : #ffffff;
  --background-window : #A14F3A;
  --background-button : #FDAF04;
  --background-button-hover : #916300cb;
  --background-label : #E0647E;
  --background-label-hover : #a8465b;
  --background-bottom-menu: var(--background-label);
  --background-option : #B9D4B4;
  --background-option-hover : #71836e;
  --background-image : #1495CC;
  --color-font: #ffffff;
  --color-font-hover: #d1d1d1;
  --color-font2: #000000;
  --color-font2-hover: #666666;
  --color-font-option: #a8465b;
  --color-font-option-hover: #ffffff;

  --shadow-buttom: hsla(0, 0%, 0%, 0.5);
  --shadow-color: hsla(0, 0%, 0%, 0.5);
}


* {
  font-family: 'Times New Roman', Times, serif;
  font-size: clamp(0.5rem, 1rem, 2rem);
}

hr {
    color: var( --background-option);
    background-color: var(--background-option);
    height: 2px;
    border-width: 0;
}



html {
  margin: 0px;
  padding: 0px;
}